github "CocodingLee/CocoaAsyncSocket" ~> 7.6.5
github "CocodingLee/CocoaLumberjack" ~> 3.5.4
github "CocodingLee/MMDB-Swift" ~> 0.5.2
github "CocodingLee/Sodium-framework" ~> 2.0.0
github "CocodingLee/YamlSwift" ~> 3.4.5
github "CocodingLee/tun2socks-3" ~> 1.0.1
github "CocodingLee/Resolver" ~> 0.2.1
